*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:blue; 
    font-family: Arial, Helvetica, sans-serif;
}

.product{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.cart img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}
.cart{
    margin-top: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.cart:hover{
    transform: translateY(-5px);
}

.cart img{
    width: 100%;
}


.cart p{
    margin-top: 10px;
    font-weight: bold;

}
.btn{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.btn button{
    padding: 5px;
    border-radius: 4px;
}