*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.logo img{
    width: 100px;
    height: 80px;
    padding: 10px;
    border-radius: 20px;
}
.logo img:hover{
    cursor: pointer;
}
.navlink ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.navlink a{
    text-decoration: none;
}
.navlink ul li {
    list-style-type: none;

}
.navlink ul li:hover{
    cursor: pointer;
}