.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;


}
.logo{
    cursor: pointer;
}
.navbar ul {
    list-style-type: none;
    display: flex;
   align-items: center;
   gap: 20px;
}
.navbar ul li{
    cursor: pointer;

}
 